<nav>
    <a href="Home">Home</a>
    <a href="Dashboard">Dashboard</a>
    <a href="Logout">Logout</a>
    <a href="Login">Login</a>
</nav>

<h1>The Tech Blog</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>